<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arjun.nhacks">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/temp2"
        android:label="Facial Recognition"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListFacesActivity"
            android:label="@string/title_activity_list_faces"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditAccountActivity"
            android:label="@string/title_activity_edit_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GroupsActivity"
            android:label="@string/title_activity_groups"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GroupHardActivity"
            android:label="@string/title_activity_group_hard"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ScanResults"
            android:label="ScanResults"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
    </application>

</manifest>
